[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=x, y

# Disable messages
disable=logging-fstring-interpolation, too-many-instance-attributes

# Whitelist modules
extension-pkg-whitelist=pygame