[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=

# Disable messages
disable=logging-fstring-interpolation

# Whitelist modules
extension-pkg-whitelist=pygame